
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
    <img src="https://laptophaidang.com/pic/product/images/success.png" class="img-fluid" />
    <h2 class="text-center mt-4">ĐƠN HÀNG CỦA BẠN ĐÃ ĐƯỢC ĐẶT THÀNH CÔNG</h2>
    <button class="btn btn-dark mt-3 hv"><a href="/@Url.Action("Shop", "Home")"></a>Mua tiếp</button>
</div>


